{% extends 'core/starter.html' %}
{% load static %}

{% block title %}Lista de Clientes{% endblock title %}
{% block pageName %}Clientes{% endblock pageName %}

{% block css %}
    <link rel="stylesheet" href="{% static 'core/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css' %}">
    <link rel="stylesheet" href="{% static 'core/plugins/datatables-responsive/css/responsive.bootstrap4.min.css' %}">
    <link rel="stylesheet" href="{% static 'core/plugins/sweetalert2-theme-bootstrap-4/bootstrap-4.min.css' %}">
    <link rel="stylesheet" href="{% static 'core/plugins/toastr/toastr.min.css' %}">
{% endblock css %}


{% block content %}
    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
       <div class="row">
          <div class="col-lg-3 col-6">
            <!-- small box -->
            <div class="small-box bg-warning">
              <div class="inner">
                <h3>{{ totalClientes }}</h3>

                <p>Total de Clientes</p>
              </div>
              <div class="icon">
                <i class="fas fa-users    "></i>
               
              </div>
              <a href="#" class="small-box-footer">Mais info <i class="fas fa-arrow-circle-right"></i></a>
            </div>
          </div>
          <!-- ./col -->
           <div class="col-lg-3 col-6">
            <!-- small box -->
            <div class="small-box bg-success">
              <div class="inner">
                <h3>{{ ativos }}</h3>

                <p>Clientes Ativos</p>
              </div>
              <div class="icon">
                <i class="fas fa-thumbs-up    "></i>
              </div>
              <a href="#" class="small-box-footer">Mais info <i class="fas fa-arrow-circle-right"></i></a>
            </div>
          </div>
          <!-- ./col -->

          <!-- ./col -->
          <div class="col-lg-3 col-6">
            <!-- small box -->
            <div class="small-box bg-danger">
              <div class="inner">
                <h3>{{ inativos }}</h3>

                <p>Clientes inativos</p>
              </div>
              <div class="icon">
                <i class="fa fa-thumbs-down" aria-hidden="true"></i>
              </div>
              <a href="#" class="small-box-footer">Mais info <i class="fas fa-arrow-circle-right"></i></a>
            </div>
          </div>
           <div class="col-lg-3 col-6">
            <!-- small box -->
            <div class="small-box bg-primary">
              <div class="inner">
                <h3>0<sup style="font-size: 20px"></sup></h3>

                <p>Aniversariantes</p>
              </div>
              <div class="icon">
                <i class="fa fa-birthday-cake" aria-hidden="true"></i>
              </div>
              <a href="#" class="small-box-footer">Mais info <i class="fas fa-arrow-circle-right"></i></a>
            </div>
          </div>
          <!-- ./col -->
        </div>
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <div class="col-md-2">
                                <a href="{% url 'cliente:novo-cliente'%}" type="button" class="btn btn-dark float-right">
                                    <i class="fas fa-plus "></i>
                                    Novo Cliente
                                </a>
                            </div>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body">
                            <table id="example1" class="table table-bordered table-striped">
                                <thead>
                                <tr>
                                    <th>Nome</th>
                                    <th>CPF</th>
                                    <th>Telefone</th>
                                    <th>Cadastrado em</th>
                                    <th>Data Nascimento</th>
                                    <th>status</th>
                                    <th>Excluir</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for cliente in Lista_de_Clientes %}
                                    <tr>
                                        <td><a href="{% url 'cliente:detalhe-cliente' cliente.slug %}">{{ cliente.nome }}</a></td>
                                        <td>{{ cliente.CPF }}</td>
                                        <td>{{ cliente.telefone }}</td>
                                        <td>{{ cliente.created }}</td>
                                        <td>{{ cliente.data_nascimento }}</td>
                                        {% if cliente.status == 'ativo' %}
                                            <td><span class="badge bg-primary">{{ cliente.status }}</span></td>
                                        {% else %}
                                            <td><span class="badge bg-danger">{{ cliente.status }}</span></td>
                                        {% endif %}
                                        <td><a href="{% url 'cliente:excluir-cliente' cliente.slug %}"><i class="btn btn-block btn-danger fas fa-trash-alt"></i></a></td>
                                    </tr>
                                {% endfor %}
                                
                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container-fluid -->
    </section>
    <!-- /.content -->
{% endblock content %}
{% block scripts %}
    <script src="{% static 'core/plugins/datatables/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'core/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js' %}"></script>
    <script src="{% static 'core/plugins/datatables-responsive/js/dataTables.responsive.min.js' %}"></script>
    <script src="{% static 'core/plugins/datatables-responsive/js/responsive.bootstrap4.min.js' %}"></script>
    <script src="{% static 'core/plugins/sweetalert2/sweetalert2.min.js' %}"></script>
    <script src="{% static 'core/plugins/toastr/toastr.min.js' %}"></script>
    <script>
        $(function () {
            $("#example1").DataTable({
                "responsive": true,
                "autoWidth": false,
            });
            $('#example2').DataTable({
                "paging": true,
                "lengthChange": false,
                "searching": false,
                "ordering": true,
                "info": true,
                "autoWidth": false,
                "responsive": true,
            });
        });
    </script>
    <script type="text/javascript">
        $(function() {
            const Toast = Swal.mixin({
                toast: true,
                position: 'top-end',
                showConfirmButton: false,
                timer: 3000
            });
            {% if messages %}

                $(function() {
                    Toast.fire({
                        icon: 'success',
                        {% for message in messages %}
                            title: '{{ message }}',
                        {% endfor %}
                    })
                });
            {% endif %}

        });

    </script>


{% endblock scripts %}
